<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="../../../../static/images/icon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../../static/admin/css/repeat.css">
  <link rel="stylesheet" href="../../../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="../../../../static/bootstrap-3.3.7-dist/js/jquery-2.1.4.min.js"></script>
  <script src="../../../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <title>500</title>
</head>
<body>
<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>500 不好意思，保证不打死程序员小哥</h1>
    </div>
    <div class="col-md-12" class="text-center">
      <a href="">返回首页</a>
    </div>
  </div>
</div>
</body>
</html>